*{
	margin: 0px;
	padding: 0px;
}

header{
	width: 600px;
	margin: auto;
	text-align: center;
}

ul{
	list-style: none;
}
/*Flotamos a la izquierda solo los hijos directos*/
#menu > li{
	float: left;
}

#menu li a{
	text-decoration: none;
	background-color: #000;
	color: #FFF;
	padding: 10px 15px;
	display: block;
	width: 90px;
}

#menu li a:hover{
	background-color: red;
}

#menu li ul{
	display:none;
}

#menu li:hover ul{
	display: block;
}

#menu li ul li{
	position: relative;
}

#menu li ul li ul{
	left: 100%;
	position: absolute;
	top: 0px;
}